
.app {
  background: linear-gradient(white,rgb(231, 255, 231), rgb(211, 252, 211),#0F9FA3, #FCBB0B, rgb(231, 255, 231));
  padding: 5px;


  .nav-bar {
  }
  section {
    padding-right: 250px; /* Default padding for sections */
    padding-left: 250px;

  }

  @media (max-width: 1536px) {
    section {
      padding-left: 150px;
      padding-right: 150px;
    }
  }
  @media (max-width: 1200px) {
    section {
      padding-left: 125px;
      padding-right: 125px;
    }
  }
  @media (max-width: 900px) {
    section {
      padding-right: 100px;
      padding-left: 100px;
    }
  }
  @media (max-width: 650px) {
    section {
      padding-right: 75px;
      padding-left: 75px;
    }
  }
  @media (max-width: 450px) {
    section {
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  .main-content {
    .home {
      .hero {
        margin-top: 75px;

        .welcome-hero {
          margin: 10px;
        }
      }
    }
    .about {
      margin-top: 10px;
      margin-bottom: 50px;
    }
    .roadmap{
      margin-top: 150px;
      margin-bottom: 50px;
    }

  }
}
