.app {
  html {
  scroll-behavior: smooth;
}
  section{
    width: 100%;     /* Full width */
    height: 100vh;   /* Full viewport height */
  }
  .main-content{
    margin-top: 150px;
    margin-left: 5px;
  }
}